.svn
.gitattributes
/autom4te.cache/
/win/Debug_*
/win/Release_*
/win/nmakehlp.obj
/win/nmakehlp.exe
/configure
/unix/*.o
/unix/*.so
/unix/Makefile
/unix/config.log
/unix/config.status
/unix/pkgIndex.tcl

